[Unit]
Description=Script HTat logs all incomming dns requests in file structure
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/server/
ExecStart=/var/www/server/dnsmon.py /httpwnbus/dnsmon
Restart=always

[Install]
WantedBy=multi-user.target
