[Unit]
Description=Script that echos back request
After=network.target

[Service]
User=www-data
WorkingDirectory=/var/www/server/
ExecStart=/var/www/server/myrequest.py
Restart=always

[Install]
WantedBy=multi-user.target
