
/* I have no style */
*
{
    font-family: monospace;
    font-size: 12pt;
    color: #0F0;
    background-color:black;
}
body
{
    min-width: 320px;
    /*min-height: 100%;*/
}
.div
{
    border: 1px solid #0F0;
    padding: 10px;
}

input
{
    border: 1px solid #0F0;
    /*transform: translateX(-1.5ex);*/
}

.block{
    margin: 0px;
    display: inline-block;
    padding: 0px;
    border: 0px;
    vertical-align: middle;
    text-align: center;
}

.label{
    margin-left: -1ex;
    margin-right: -2ex;
    border: 0px;
    width: 5ex;
    display: inline-block;
    height: 100%;
    transform: rotate(-90deg);
    text-align: center;
}

.single{
    display: inline-block;
    height:2.5em;
    margin-left:10px
}

.t0{
    margin-top:0px;
}

.b0{
    margin-bottom:0px;
}

.menu,.submenu{
    
}

.menu:hover,.submenu:hover{
    border-color: #FF0;
    color: #FF0;
}

.menu:active,.submenu:active{
    border-color: #FF0;
    color: #000;
    background-color: #0F0;
}

textarea
{
    border: 1px solid #0F0;
}

textarea:hover
{
    border-color: #FF0;
}

.floatright{
    float:right;
}

.console
{
    scroll-behavior: never;
    margin: 0px;
    width: 100%;
    /*height: calc(100vh - 220px);*/
    height:100%;
    box-sizing: border-box;
    resize: none;
}



a:hover
{
    text-decoration: underline;
}

a
{
    text-decoration: none;
}
.noborder
{
    border: none; 
    padding: 0px;
}
.red
{
    border-color: #F00;
    font-color: #F00;
    color: #F00;
}
.red a
{
    border-color: #F00;
    font-color: #F00;
    color: #F00;
}
.yellow
{
    border-color: #FF0;
    font-color: #FF0;
    color: #FF0;
}
.yellow a
{
    border-color: #FF0;
    font-color: #FF0;
    color: #FF0;
}

